.starRating {
  display: flex;
  margin: 5px;
  justify-content: center;
}
.button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 25px;
}
.on {
  color: #000;
}
.off {
  color: #ccc;
}
